@model IEnumerable<TLoaiTour>
<div class="col-lg-3">
     <div class="hero__categories">
        <div class="hero__categories__all">
           <i class="fa fa-bars"></i>
               <span>All departments</span>
        </div>
         <ul style="display: block;">
         @foreach (var item in Model)
             {
                 <li><a asp-controller="Home" asp-actions="TourTheoLoai" asp-route-maloai ="@item.MaLoai">@item.LoaiTour</a></li>    
             }                           
        </ul>
     </div>
</div>